---
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";

interface Clients {
  title: string;
  list: string[];
}

const { title, list }: Clients = (await getEntry("sections", "clients")).data;
---

{
  (
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-12" data-aos="fade-up-sm">
            <div class="text-center sm:flex">
              <p
                class="w-full pb-3 text-center font-medium tracking-wide sm:whitespace-nowrap sm:pb-0 text-lg"
                set:html={markdownify(title)}
              />
            </div>
          </div>
          <div class="col-12 pt-10" data-aos="fade-up-sm" data-aos-delay="200">
            <div class="flex justify-center gap-x-12 gap-y-6 opacity-60 max-lg:flex-wrap">
              {list?.map((logo) => (
                <div class="flex aspect-[3.125_/_1] w-36 items-center">
                  <img src={logo} alt="brand logo" height="120" />
                </div>
              ))}
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
