---
import ImageMod from "@/components/ImageMod.astro";
import DynamicIcon from "@/helpers/DynamicIcon";
import Base from "@/layouts/Base.astro";
---

<Base title="Page Not Found" notFoundPage={true}>
  <section class="section text-center">
    <div class="container" data-aos="fade-up-sm">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-7 text-center">
          <ImageMod
            class="mx-auto mb-16 block w-[480px]"
            src="/images/404.svg"
            alt="404 image"
          />
          <h1 class="h2 md:h1 mb-4">Oops! Page Not Found</h1>
          <div class="content">
            <p>
              Your Trusted Partner in Data Protection with Cutting-Edge
              Solutions for <br /> Comprehensive Data Security.
            </p>
          </div>
          <a href="/" class="btn btn-dark mt-8">
            Back to home
            <span class="icon-wrapper">
              <span class="icon">
                <DynamicIcon icon={"FaArrowRight"} />
              </span>
              <span class="icon" aria-hidden="true">
                <DynamicIcon icon={"FaArrowRight"} />
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
</Base>
